.x-about-content{
  width:880px;
  margin: 0 auto;
  padding: 1.5em 1em;
  h2{
  	font-size: 1.5em;
  	line-height: 2.2em;
  }
  p{
  	line-height: 1.5em;
  	text-indent: 2em;
  	padding:0.5em 0;
  }
}
@media screen and (max-width:768px){
  .x-about-content{
    width:90%;
    padding:0;
    margin-top:2.5em;
  }
}