.x-cat-content{
  margin-left: 5%;
  padding:1em;
  h2{
  	line-height: 40px;
  	font-size: 1.4em;
  	color: #669933;
  }
}
.cat-list{
  li{
  	line-height: 2.5em;
  }
  i{
  	margin-right: 0.5em;
  }
  a{
  	&:hover{
  	  text-decoration: none;
  	  color: #e17967;
  	}
  }
}