.post-like{
  margin: 20px 0;
  .done {
		background-color: #669933!important;
		border-color: #669933;
		color: white;
  }
  a{
  	padding: 8px 24px;
	  font-size: 14px;
	  color: #669933;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  border-radius: 20px;
	  -webkit-transition: background 0.2S linear;
	  -moz-transition: background 0.2S linear;
	  -o-transition: background 0.2S linear;
		transition: background 0.2S linear;
		border: 1px solid#669933;
		&:hover{
			text-decoration: none;
		}
  }
}
.single-footer {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	font-size: 16px;
	color: #666;
	a{
		color: #666;
		font-size: 14px;
		&:hover{
			color: #333;
			text-decoration: none;
		}
	}
	.after{
		margin-left: 20px;
	}
	.next{
		margin-right: 10px;
	}
	.before{
		i{
			margin-right: 10px;
		}
	}
}