.x-list-content{
  width:880px;
  padding: 1em;
  margin:0 auto;
  h2{
  	line-height: 40px;
  	font-size: 1.4em;
    color: #669933;
  }
  li{
  	line-height: 2em;
  	a{
  	  &:hover{
  	  	text-decoration: none;
  	  	color: #000;
  	  }	
  	}
  }
}
.page{
  width: 100%;
  margin-top: 0.5em;
  height: 3em;
  color: #999;
  strong{
    color: #000;
    margin:0 4px;
  }
  em{
    line-height: 2em;
    border: 1px solid #ddd;
    display: inline-block;
    color: #999;
    padding:0 12px;
    margin-left:0.3em;
    background-color: #eee;
    margin-right:-1px;
  }
  a{
    line-height: 2em;
    margin-top:0.5em;
    display: inline-block;
    padding: 0 12px;
    border: 1px solid #ddd;
    color: #999;
    margin-right: -1px;
  }
}
@media screen and(max-width:768px){
  .x-list-content{
    width:90%;
    margin: 3em 0;
  }
}