.x-pro-content{
  width:880px;
  margin: 1em auto;
  dl{
  	height: 200px;
  	margin-top: 20px;
  	dt{
  	  height: 200px;
  	  width: 250px;
  	}
  	img{
  	  height: 200px;
  	  width: 250px;
  	}
  	dd{
  	  margin-left: 20px;
  	  width:500px;
  	}
  	.title{
  	  font-size:1.4em;
  	  font-weight: bold;
  	  a{
  	  	&:hover{
  	  	  text-decoration: none;
  	  	  color: #e17967;
  	  	}
  	  }
  	}
  	.content{text-indent:2em;}
  	i{margin-right:5px;}
  	.info{color:#999;}
  }
}
@media screen and(max-width:768px){
  .x-pro-content{
  	width:90%;
  	margin-top: 3em;
  	dl{
  		margin-top: 2em;
  		height:auto;
		  dt{
	  	  width:100%;	
	  	  img{
	  	  	width:100%;
	  	  }
	  	}
	  	dd{
	  		width: 100%;
	  		margin:0;
	  	}
  	}
  }
}