extend mods/body
block title
  title 文章分类
block content
  .x-qaq
    a(href="index.html", class="cd") 兴
  .x-nvabar.x-nvabar-jianshu.expanded
    .dropdown
      a(href="index.html",class="active logo",title="Super xing")
        b 兴
    .x-menu
      ul.items
        li.menu-items-type
          a(href="about.html",target="_blank",title="关于Super xing")
            i.icon-group
        li.menu-items-tyoe
          a(href="list.html", target="_blank",title="文章分类")
            i.icon-book
        li.menu-items-type
          a(href="#", target="_blank",title="空间支持")
            i.icon-money
        li.menu-items-type
          a(href="#", target="_blank",title="标签")
            i.icon-star
        li.menu-items-type
          a(href="#", target="_blank",title="订阅")
            i.icon-magic 
  .x-cat-content
    h2 文章分类
    ul.cat-list
      li
        a(href="list.html") 
          i.icon-star
          | 个人感悟
      li
        a(href="list.html") 
          i.icon-star
          | 技术体会
      li
        a(href="list.html") 
          i.icon-star 
          | 热爱前端
      li
        a(href="list.html") 
          i.icon-star
          | 我是Super man
