extend mods/body
block title
  title 留言板
block script
  script(type="application/javascript", src="js/page/guest.js")
block content
  .x-qaq
    a(href="index.html", class="cd") 兴
  .x-nvabar.x-nvabar-jianshu.expanded
    .dropdown
      a(href="index.html",class="active logo",title="Super xing")
        b 兴
    .x-menu
      ul.items
        li.menu-items-type
          a(href="about.html",target="_blank",title="关于Super xing")
            i.icon-group
        li.menu-items-tyoe
          a(href="list.html", target="_blank",title="文章分类")
            i.icon-book
        li.menu-items-type
          a(href="#", target="_blank",title="空间支持")
            i.icon-money
        li.menu-items-type
          a(href="#", target="_blank",title="标签")
            i.icon-star
        li.menu-items-type
          a(href="#", target="_blank",title="订阅")
            i.icon-magic 
  .x-guest-content
    .article
      h1 留言板
      .article-info
        span 2014-04-05 11:37
        span 字数: 21
        span 阅读量: 5,334
      h2 在这里可以灌水、吹牛、扯淡，但不可以订外卖
     //- 多说评论框 start
    .ds-thread(data-thread-key="111111111",data-title="留言板",data-url="http://leborn.me/")
     //- 多说评论框 end