extend mods/body
block title
  title 文章列表
block script
  script(type="application/javascript", src="js/page/index.js")
block content
  .x-qaq
    a(href="index.html", class="cd") 兴
  .x-nvabar.x-nvabar-jianshu.expanded
    .dropdown
      a(href="index.html",class="active logo",title="Super xing")
        b 兴
    .x-menu
      ul.items
        li.menu-items-type
          a(href="m.about.html",target="_blank",title="关于Super xing")
            i.icon-group
        li.menu-items-tyoe
          a(href="#", target="_blank",title="文章分类")
            i.icon-book
        li.menu-items-type
          a(href="#", target="_blank",title="空间支持")
            i.icon-money
        li.menu-items-type
          a(href="#", target="_blank",title="标签")
            i.icon-star
        li.menu-items-type
          a(href="#", target="_blank",title="订阅")
            i.icon-magic
  .x-list-content
    h2 文章列表
    ul
       each i in [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        li: a(href="#") 一线投资人看社交投资：社交不好做 做好不得了
    .page
      | 共
      span 70
      | 条记录
      em 1
      a(href="#") 2
      a(href="#") 3
      a(href="#") 4
      a(href="#") 5
      a(href="#") 6
      a(href="#") 7
      a(href="#") 下一页
      a(href="#") 尾页