extend mods/body
block title
  title 文章列表
block content
  .x-list-content
    h2 文章列表
    ul
       each i in [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        li: a(href="detail.html") 一线投资人看社交投资：社交不好做 做好不得了
    .page
      | 共
      span 70
      | 条记录
      em 1
      a(href="#") 2
      a(href="#") 3
      a(href="#") 4
      a(href="#") 5
      a(href="#") 6
      a(href="#") 7
      a(href="#") 下一页
      a(href="#") 尾页
  include mods/footer1