doctype html
html
  head
    meta(charset="utf-8")
    block title
    link(rel="stylesheet", type="text/css", href="css/blog.css")
    block link
    block script
    script(type="application/javascript", src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.10.2.min.js")
  body
    include head
    block content
    include head