footer.footer1
  .links 
    a(href="http://evilbinary.org/", target="_blank") 邪恶二进制 
    a(href="http://hyphenlee.github.io/", target="_blank") hyphen
    a(href="http://www.blogbar.cc/", target="_blank") Blogbar
    a(href="http://coolshell.cn/", target="_blank") 酷壳
  .copyright © 2015 Super xing火星ICP备001号