.x-qaq
  a(href="index.html", class="cd") 兴
.x-nvabar.x-nvabar-jianshu.expanded
  .dropdown
    a(href="index.html",class="active logo",title="Super xing")
      b 兴
  .x-menu
    ul.items
      li.menu-items-type
        a(href="about.html",title="关于Super xing")
          i.icon-group
      li.menu-items-tyoe
        a(href="cat.html", title="文章分类")
          i.icon-book
      li.menu-items-type
        a(href="guest.html",title="留言板")
          i.icon-comments
      li.menu-items-type
        a(href="product.html",title="推荐")
          i.icon-move
      li.menu-items-type
        a(href="#",title="订阅")
          i.icon-magic
      li.menu-items-type
        a(href="http://www.fm1877.com/", target="_blank" title="声音的味道")
          i.icon-film